#TokenItem {
  flex-direction: 'row';
  justify-content: 'flex-start';
  //border-radius: 4px;
  //margin-bottom: 5px;
  align-items: 'center';
  height: 'auto';
  border-bottom: 1px dashed #5c5e5e;
  padding-bottom: 4px;
  padding-top: 4px;
}

#TokenContainer {
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
  margin-bottom: 5px;
  height: '100%';
  flex: 1;
  #TokenText {
    font-size: 14px;
    color: black;
    width: '100%';
  }
  #TokenImage {
    width: 36px;
    height: 36px;
  }
}