#DetailTransfer {
  background-color: #009688;
  flex-direction: 'column';
  padding: 4px;
  #AccountsComboBox {
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    align-items: 'center';
    width: 'auto';
  }
  #TokenText {
    color: white;
  }
}